
html {
    display: grid;
    align-items: center;
    justify-items: center;

    --bg: #e4e1e1;
    --bg-panel: #ffffff;
    --color-headings: #8290B6;
    --color-text: #1F2536;
    --color: #0d109c;
    --color-new: #FFC100;
}

html[data-theme="blue"] {
    --bg: #e4e1e1;
    --bg-panel: #000E55;
    --color-headings: #EDEFF5;
    --color-text: #ffffff;
    --color: #A6B0CB;
    --color-new: #0021C6;

}

body{
    background-color: var(--bg);
    display: flex;    
    margin-left: 250px;
}


 
.container{
    height: 470px;
    width: 300px;
    margin-top: 100px;
    border-radius: 50px;
    background-color: var(--bg-panel);
    padding: 40px 35px 35px 35px;
    box-shadow: 5px 5px 10px #6d6363,
             -5px -5px 10px #f3ecec;  

    
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
         "title switch"
         "content content";

}


.container12{
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    
}


.container12 input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.container12 label{
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;   
}

.container12 label:after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: var(--color-new);
    border-radius: 90px;
    transition: 0.3s;
}

.container12 input:checked + label{
  background: var(--color-headings);  
}

.container12 input:checked + label:after{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.container12 label:active::after{
    width: 45px;
}

.container h2{
     color: #8290B6;
     font-family: roboto;
     font-weight: normal;
     font-size: 23.04px;
     line-height: 27.65px;
     line-height: 102%;
     margin-top: 0px;
     display: flex;
 }

.container h3{
    font-weight: normal;
    font-style: normal;
    color: rgb(136, 131, 131);
    margin-top: 0px;
 }

 .container em{
    margin-top: 0px;
    color: var(--color-text);
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
 }

 .container .lorem{
    font-weight: normal;
    font-style: normal;
    color: var(--color-text);
    font-family: Roboto;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
 }

.container h4{
    color: var(--color-text);
    font-family: roboto;
    font-style: normal;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
}

input{
    color: #ffffff;
    background-color: var(--color);
    font-family: Roboto;
    font-weight: normal;
    line-height: 24px;
    line-height: 128%;
    width: 300px;
    height: 33px;
    border-radius: 10px;
 }

 .fa-circle-check{
    margin-left: 0px;
    margin-right: 5px;
    color: green;
}
 
.fa-circle-xmark{
    margin-left: 0px;
    margin-right: 5px;
    color: #C6001E;
}