
body { 
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    align-items: center;
    

}

.header .content-box {
    display: flex;
    height: 100%;
    background: url(Eagle11.jpg) no-repeat center center; 
    background-position: center;
    background-size: cover;
    width: 100%;

}

.heading {
    position: relative;
}

.heading h1 {
    display: flex;
    margin:0px 0px 5px 25px;
    padding-top: 0px;
    color:  #ffffff;
    border-radius: 50%;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.heading img {
    display: block;
    height: 100px;
    border-radius: 50%;
    margin: 50px 0px 0px 100px;
    
}
.content-box .nav {
    display: none;
}
.container-2{
    display: flex;
    position: fixed;
    left: 500px;
    background-color: aliceblue;
    height: 100px;
    width: 100%;
    margin: 40px 0px 0px 200px;
    border-radius: 5px;
    padding-left: 50px;

}

.container-2 h3 {
    color: #37b4ee;
    margin: 40px 30px 30px 20px;
    cursor: pointer;
    letter-spacing: 1px;
}
button{
    color: #37b4ee;
    border-radius: 10px;
    border-color: #37b4ee;
    height: 45px;
    width: 100px;
    padding: 0px;
    margin-top: 30px;
    cursor: pointer;

}
.service .content-box{
    background: #f4f3ff;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;

}
.content-box h1{
    text-align: center;
    padding-top: 200px;
    font-size: 40px;
    margin-bottom: 0px;
}
.our hr{
    margin-top: 0px;
    margin-bottom: 20px;
    content: "";
    background: #37b4ee;
    display: block;
    align-items: center;
    align-self: center;
    height: 2px;
    width: 150px;
}

.row-service {
    display: flex;
    height: 750px;
    background: #f4f3ff;
    border-radius: 5px;
    padding: 50px 20px 20px 20px;

}

.row-service h2 {
    padding: 100px 50px 50px 50px;
    text-align: center;
}
.row-service .quote{
    height: 500px;
}


.row-service .icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 18px;
    height: 70px;
    width: 70px;
    border: 1px solid #37b4ee;
    border-radius: 50%;
    color: #37b4ee;
}
.row-service p{
    margin: 70px 50px 10px 50px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color: #777;
    padding: 20px;
}
.row-service h3 {
    font-size: 25px;
}
.row-service span {
    color: #37b4ee;
    transition: 0.4s;
}
.row-service .quotes:hover{
    background: #37b4ee;
    cursor: pointer;
    color: #fff;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    height: 500px;
}
.row-service .quotes:hover .icon{
    border: 1px solid #fff;
    color: #fff;
}
.row-service .quotes:hover p{
    color: #fff;
}
.row-service .quotes:hover span{
    color: #fff;
}
.row{
    background: rgb(8, 48, 83);
}

.row{
    background: #f4f3ff;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    padding: 50px;
    align-items: center;
}
.feature h2 {
    margin-top: 130px;
    margin-left: 50px;
    margin-bottom: 1px;
    left: 17px;
}
.feature hr{
    margin-top: 0px;
    margin-bottom: 20px;
    background: #37b4ee;
    margin-left: 45px;
    height: 2px;
    width: 150px;
}
.feature ul{
    margin-top: 30px;
    margin-left: 50px;
    list-style-type: none;
}
.feature ul li{
    line-height: 40px;
    font-size: 14px;
    position: relative;
}
.feature ul li::after{
    content: "";
    height: 7px;
    width: 7px;
    background: #37b4ee;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: -25px;
}

.col{
    width: 40%;
    
}
.News h2{
    margin-bottom: 10px;
}
.gallery {
    width: 1000px;
    margin: 0 auto;
}

.gallery_photo {
    width: 250px;
    height: 250px;
}


.footer .follow{
    font-size: 40px;
    color: #37b4ee;
    align-items: center;
    margin-left: 45%;
    cursor: pointer;
}

.copyright{
    height: 30px;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(35deg, #37b4ee, #700a52);
}
.copyright p{
    margin-top: 10px;
}





@media screen and (max-width:700px) {
.header .content-box {
    display: flex;
    background: url(Eagle11.jpg) no-repeat center center; 
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.heading img {
    display: block;
    height: 80px;
    border-radius: 50%;
    margin: 45px 0px 0px 50px;
    
}
.content-box .nav {
    position: fixed;
    text-align: left;
    cursor: pointer;
    margin: 30px 0px 0px 350px;
    font-size: 40px;
    padding: 18px;
    height: 90px;
    width: 90px;
    color: #37b4ee;
}

.container-2 {
    display: none;
}
.row-service h2 {
    padding: 100px 50px 50px 50px;
    text-align: center;
}
.row-service .quote{
    height: 500px;
}


.row-service .icon {
    font-size: 20px;
    margin: 10px auto;
    padding: 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #37b4ee;
    border-radius: 50%;
    color: #37b4ee;
}
.row-service p{
    margin: 70px 50px 10px 50px;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
    color: #777;
    padding: 15px;
}
.row-service h3 {
    font-size: 15px;
}

.row-service .quotes:hover{
    background: #37b4ee;
    cursor: pointer;
    color: #fff;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    height: 100pv;
}


.row{
    background: rgb(8, 48, 83);
}

.row{
    background: #f4f3ff;
    height: 100%;
    width: 100%;
    padding: 0px;
    display: inline;
    margin: 0px;
    padding: 50px;
    align-items: center;
}
.feature h2 {
    margin-top: 130px;
    margin-left: 50px;
    margin-bottom: 1px;
    text-align: center;
}
.feature hr{
    margin-top: 0px;
    margin-bottom: 20px;
    background: #37b4ee;
    margin-left: 45px;
    height: 2px;
    width: 150px;
    text-align: center;
}
.feature ul{
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    list-style-type: none;
}
.feature ul li{
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    position: relative;
}
.feature ul li::after{
    content: "";
    text-align: center;
    height: 7px;
    width: 7px;
    background: #37b4ee;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: -25px;
}

.col{
    width: 40%;
    
}
.News h2{
    margin-bottom: 10px;
}
.footer .follow{
    font-size: 20px;
    color: #37b4ee;
    align-items: center;
    margin-left: 40%;
    cursor: pointer;
    letter-spacing: 4px;
}

}