body{
    background-color: #e4e1e1;
    display: flex;    
    margin-left: 250px;
}

.container{
    height: 470px;
    width: 300px;
    margin-top: 120px;
    border-radius: 50px;
    margin-left: 400px;
    background-color: #ffffff;
    padding: 40px 35px 35px 35px;
    box-shadow: 5px 5px 10px #6d6363,
             -5px -5px 10px #f3ecec;
}

.container h2{
     color: #8290B6;
     font-family: roboto;
     font-weight: normal;
     font-size: 23.04px;
     line-height: 27.65px;
     line-height: 102%;
     margin-top: 0px;
     display: flex;
 }

.container h3{
    font-weight: normal;
    font-style: normal;
    color: rgb(136, 131, 131);
    margin-top: 0px;
 }

 .container em{
    margin-top: 0px;
    color: #000000;
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
 }

 .container .lorem{
    font-weight: normal;
    font-style: normal;
    color: #343E59;
    font-family: Roboto;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
 }

.container h4{
    color: #1F2536;
    font-family: roboto;
    font-style: normal;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
}

input{
    color: #ffffff;
    background-color: #0d109c;
    font-family: Roboto;
    font-weight: normal;
    line-height: 24px;
    line-height: 128%;
    width: 300px;
    height: 33px;
    border-radius: 10px;
 }

 .fa-circle-check{
    margin-left: 0px;
    margin-right: 5px;
    color: green;
}
 
.fa-circle-xmark{
    margin-left: 0px;
    margin-right: 5px;
    color: #C6001E;
}



 .container-blue{
    height: 470px;
    width: 300px;
    margin-top: 120px;
    border-radius: 50px;
    margin-left: 400px;
    color:#f3ecec;
    background-color: #000E55;
    padding: 40px 35px 35px 35px;
    box-shadow: 5px 5px 10px #080a36,
             -5px -5px 10px #bbbcf3;
 }
.container-blue h2{
    color: #EDEFF5;
    font-family: roboto;
    font-weight: normal;
    font-size: 23.04px;
    line-height: 27.65px;
    line-height: 102%;
    margin-top: 0px;
    display: flex;
}
.container-blue h3{
    color: #ebe7e7;
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
}
.container-blue em{
    margin-top: 0px;
    color: #ffffff;
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
}
.container-blue .lorem{
    font-weight: normal;
    font-style: normal;
    color: #EDEFF5;
    font-family: Roboto;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
}
.container-blue h4{
    color: #ffffff;
    font-family: roboto;
    font-style: normal;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
}
.container-blue input{
    color: #000E55;
    background-color: #A6B0CB;
    font-family: Roboto;
    font-weight: normal;
    line-height: 24px;
    line-height: 128%;
    width: 300px;
    height: 33px;
    align-items: center;
    align-content: center;
    align-self: center;
    border-radius: 10px;
}



.container-red{
    height: 470px;
    width: 300px;
    margin-top: 120px;
    border-radius: 50px;
    margin-left: 400px;
    color:#f3ecec;
    background-color: #55000D;
    padding: 40px 35px 35px 35px;
    box-shadow: 5px 5px 10px #080a36,
             -5px -5px 10px #bbbcf3;
 }
.container-red h2{
    color: #EDEFF5;
    font-family: roboto;
    font-weight: normal;
    font-size: 23.04px;
    line-height: 27.65px;
    line-height: 102%;
    margin-top: 0px;
    display: flex;
}
.container-red h3{
    color: #ebe7e7;
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
}
.container-red em{
    margin-top: 0px;
    color: #ffffff;
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
}
.container-red .lorem{
    font-weight: normal;
    font-style: normal;
    color: #EDEFF5;
    font-family: Roboto;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
}
.container-red h4{
    color: #ffffff;
    font-family: roboto;
    font-style: normal;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
}
.container-red input{
    color: #000E55;
    background-color: #A6B0CB;
    font-family: Roboto;
    font-weight: normal;
    line-height: 24px;
    line-height: 128%;
    width: 300px;
    height: 33px;
    align-items: center;
    align-content: center;
    align-self: center;
    border-radius: 10px;
}



.container-yellow{
    height: 470px;
    width: 300px;
    margin-top: 120px;
    border-radius: 50px;
    margin-left: 400px;
    color:#1F2536;
    background-color: #FFEAAA;
    padding: 40px 35px 35px 35px;
    box-shadow: 5px 5px 10px #080a36,
             -5px -5px 10px #bbbcf3;
 }
.container-yellow h2{
    color: #1F2536;
    font-family: roboto;
    font-weight: normal;
    font-size: 23.04px;
    line-height: 27.65px;
    line-height: 102%;
    margin-top: 0px;
    display: flex;
}
.container-yellow h3{
    color: #1F2536;
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
}
.container-yellow em{
    margin-top: 0px;
    color: #000000;
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
}
.container-yellow .lorem{
    font-weight: normal;
    font-style: normal;
    color: #1F2536;
    font-family: Roboto;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
}
.container-yellow h4{
    color: #1F2536;
    font-family: roboto;
    font-style: normal;
    font-size: 13.33px;
    line-height: 20px;
    line-height: 128%;
}
.container-yellow input{
    color: #000E55;
    background-color: #A6B0CB;
    font-family: Roboto;
    font-weight: normal;
    line-height: 24px;
    line-height: 128%;
    width: 300px;
    height: 33px;
    align-items: center;
    align-content: center;
    align-self: center;
    border-radius: 10px;
}




