body {
    font-family: Arial, Helvetica;
    background: radial-gradient(252.46% 128.6% at 43.56% 77.38%, rgba(0, 115, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%),radial-gradient(50.09% 87.27% at 100% 0%, rgba(255, 132, 0, 0.05) 0%, rgba(255, 255, 255, 0) 100%),radial-gradient(2567.19% 1578.53% at 44.97% 30.08%, rgba(236, 241, 251, 0.45) 0%, rgba(248, 248, 248, 0.45) 100%),#f6f8fb;
    margin: 0;
}

#header {
    height: 40px;
    display: flex;
    justify-content: center;

}
.Logo {
    justify-content: left;
    display: flex;
    height: 40px;
}

#header img {
    width: 50px;
    margin-left: 10px;
}

.Logo #company-name {
    margin-top: 0;
    font-weight: bolder;
    color: rgb(223, 133, 16);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#nav-bar {
    display: flex;
    margin-left: 200px;
}

nav  a {
    color: #000;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#product  {
    justify-content: center;
}

#product #assurance {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: dodgerblue;
    text-align: center;
    margin-top: 100px;
}

#product #assurance p {
    font-style: italic;
}

#product #testimonies {
    height: 150px;
     margin-top: 50px;
    display: flex;
    justify-content: center;
}
#product #testimonies  > iframe {
    max-width: 560px;
    width: 100%;
    border-radius: 10px;
}    





#pricing {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#pricing .product {
    background: rgb(169, 226, 245);
    border: 10px;
    border-color: rgb(223, 133, 16);
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}

#pricing .level {
    display: flex;
    justify-content: space-between;
} 

button {
    border-radius: 10px;
    border: 0;
    padding: auto;
    color: rgb(169, 226, 245);
    background: rgb(223, 133, 16);
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 25px;
    width: 100px;
    cursor: pointer;
}


form {
    padding: 25px;
    margin: 20px auto;
    border-radius: 15px;
    background: none;
    justify-content: center;
    max-width: 40%;
}

.form-el {
    margin: 0 auto 12.5px auto;
    padding: 3px;
}

.form-con {
    display: block;
    height: 25px;
    width: 100%;
    padding: 3.75px 7.5px;
    margin: 10px auto;
    color: #495057;
    background-color: rgb(169, 226, 245);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.2s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-con:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

#submit {
    border-radius: 10px;
    border: 0;
    padding: auto;
    color: rgb(169, 226, 245);
    background: rgb(223, 133, 16);
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 25px;
    width: 100px;
    cursor: pointer;
}





footer {
    background: radial-gradient(gray, rgb(197, 197, 197), rgb(235, 233, 233)) ;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}


footer ul {
    display: flex;
    justify-content: space-between;
}

footer  a {
    color: #000;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

span{
    font-style: italic;
    margin: 10px;
}



@media (max-width: 425px) { 
    body {
        margin: auto;
        max-width: 423px;
    }

    #header {
        height: 40px;
        display: flex;
        
    
    }

    #nav-bar {
        display: flex;
        margin-left: 50px;
    }
    
}
